body {
    background-image: url('images/background-pattern-desktop.svg');
    background-color: #f9eeff;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.container {
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    max-width: 30rem;
    margin-top: 7rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: hsl(292, 42%, 14%);
}

h2 {
    font-size: 1.2rem;
    color: hsl(292, 42%, 14%);
    font-weight: 800;

}

section {
    padding: 1rem 0;
    border-bottom: 1px solid #fafafa;
}


.container_flex {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;    
}

p {
    margin-top: 1rem;
    color: hsl(292, 16%, 49%);
}

footer {
    margin-top: 1rem;
    font-size: 12px; 
    text-align: center;
    align-self: baseline; 
}
footer a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 650px) {
    body {
    padding: 0.7rem;
    background-image: url('images/background-pattern-mobile.svg');
    }
    
    .container {
        padding: 1rem;
    }
}